div#form-cont{
    width: 95%;
}

form{
    width: 100%;
   margin-bottom: 30px;
}

div#formulario{
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 30px;
    background-color: #6c757d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.508);
}

.entrada{
    margin-bottom: 35px;
    margin-left: 20px;
}

.input{
    border-radius: 5px;
}

label{
    color: white;
}

div#botoes{
    text-align: center;
    margin-bottom: 50px;
 
}

input#deletar, input#listar{
    margin-right: 20px;
}

input#deletar:hover, input#listar:hover, input#editar:hover, input#cadastrar:hover, button#rolagem:hover{
    background-color: green;
}

.botoes{
    width: 150px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    
}

input#cadastrar{
    display: block;
    background-color: blue;
    margin: auto;
    border-radius: 8px;
    color: white;
    width: 150px;
}